<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>ListeEvenementsParticipant</title>
    </head>

    <body>
        <h2>Liste des événements auxquels vous êtes inscrit :</h2>
        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date et heure de debut</th>
                <th>Date et heure de fin</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="participant : ${participants}">
                <tr>
                    <td th:text="${participant.evenement.getTitre()}"></td>
                    <td th:text="${participant.evenement.getDescription()}"></td>
                    <td th:text="${participant.evenement.getDateDebut()}"></td>
                    <td th:text="${participant.evenement.getDateFin()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </body>
</html>